
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Tùy chỉnh chiều cao để hình ảnh nằm giữa trang */
    }
</style>

<!-- Main content -->
<section class="content">
    
    <!-- Default box -->
    <img class="image-container" src="~/Content/assets/images/welcome.png" />
</section>
<!-- /.content -->
