
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container"  style="margin-top:160px">
    <h2>Chào mừng đến với cửa hàng đồng hồ</h2>

    

    <p>
        Chúng tôi là một cửa hàng chuyên cung cấp các loại đồng hồ chất lượng cao từ các thương hiệu nổi tiếng trên thế giới. Chúng tôi cam kết mang đến cho khách hàng những sản phẩm đáng tin cậy và chất lượng tốt nhất.
    </p>

    <p>
        Với đội ngũ nhân viên giàu kinh nghiệm và nhiệt tình, chúng tôi sẽ tư vấn và hỗ trợ bạn trong việc lựa chọn chiếc đồng hồ phù hợp với phong cách và nhu cầu sử dụng của bạn.
    </p>

    <div class="product-image">
        <img src="https://cdn.tgdd.vn/Files/2020/03/11/1241419/c16_800x710.jpg" alt="Hình ảnh sản phẩm" style="width: 400px">
    </div>

    <p>
        Hãy ghé thăm cửa hàng của chúng tôi để khám phá bộ sưu tập đồng hồ đa dạng và phong cách. Chúng tôi luôn cập nhật các mẫu mới nhất để đáp ứng sự mong đợi của khách hàng.
    </p>
</div>

